# Environment variables
.env
__pycache__/

# But allow template file
!.env.template

# Output directory
output/
output/*

# Input directory
input/
input/*

# Ignore all dot files/directories in output
output/.*